
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Primum Print",
  "alternateName": "UAB Primum",
  "url": "https://reklamai.lt/",
  "logo": "https://reklamai.lt/logo.svg",
  "image": "https://reklamai.lt/logo.svg",
  "description": "Profesionali reklama ir skaitmeninė spauda. Plačiaformatė spauda, UV spauda, lauko reklama, tentai, tvarūs kartono gaminiai bei pakuotės prekybos vietoms.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Raudondvario pl. 101A-3",
    "addressLocality": "Kaunas",
    "postalCode": "47184",
    "addressCountry": "LT"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "54.9134",
    "longitude": "23.8647"
  },
  "telephone": "+37060035828",
  "email": "vaida@reklamai.lt",
  "taxID": "LT100006734318",
  "vatID": "LT100006734318",
  "identifier": "302640482",
  "priceRange": "€€",
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "opens": "08:00",
    "closes": "17:00"
  },
  "areaServed": {
    "@type": "Country",
    "name": "Lithuania"
  }
}
</script>
